.home{
  display: flex;
}

.flex-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 112px;
  padding: 110px 0px;
}

.not-found{
  object-fit: contain;
  margin: auto;
  max-width: 300px;
  max-height: 240px;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px){
  .flex-container{
    padding: 85px 0px;
  }
}

@media (max-width: 575px){
  .flex-container{
    padding: 55px 0px;
    gap: 80px;
  }
}

