.form-container{
    max-width: 600px;
    padding-left: 70px; 
    padding-right: 20px; 
    display: flex;
    flex-direction: column;
    gap: 66px;
    box-sizing: border-box;
}

/* Common  */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.layout{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.30);
}

.layout-wrapper{
    padding: 13px 48px 52px 30px;
}

.layout-heading{
    padding: 24px 32px;
    background-color: #D0F7FA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
}

.label{
    padding: 25px 0px;
    border-bottom: 1px solid #C4C4C4;
    font-size: 20px;
    font-weight: 600;
    line-height: 22.8px;
}

.no-border{
    border-bottom: 0px;
}

.label.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}


.label.flex p{
    max-width: 150px;
    width: 100%;
}

.label.flex p span{
    font-size: 15px;
    font-weight: 400;
}

.label.flex div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.label.flex div span{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #666;
}

.ant-checkbox-input{
    border-color: #D4D9E4;
    width: 18px;
    height: 18px;
}

.ant-checkbox-checked .ant-checkbox-inner{
    background-color: #087b2f;
    border: none;
}

.ant-checkbox-wrapper span{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.09px;    
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner{
    background-color: #fff;
    border-color:  #087b2f !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner{
    background-color: #087b2f !important;
}

.ant-switch-checked {
    border: 1px solid;
    border-color: #D4D9E4;
}

.ant-switch-checked .ant-switch-handle::before{
    border: 1px solid #D4D9E4;
}

.ant-switch-checked .ant-switch-inner{
    background-color: #fff;
}

.ant-switch-inner{
    background-color: #087b2f;
}

.ant-select-dropdown .ant-select-item:hover{
    background: #9C4DE2;
    color: #fff;
}

.add-question{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 25px 0px 20px;
    cursor: pointer;
}

.questions-layout{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px 50px;
}

.question-layout-heading{
    font-size: 20px !important;
    font-weight: 600;
    line-height: 28px;
}

.delete{
    font-size: "15px";
    color:"#A80000";
    font-weight: 600
}

.save{
    background-color: #087B2F;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #F4FBF7;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.ant-select-selector{
    border-color: black !important;
}

.btn{
    padding: 16px;
    background-color: #087B2F;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}

.questions-heading {
    padding-top: 30px;
    border-top: 1px solid #C4C4C4;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px 30px;
    border-bottom: 1px solid #C4C4C4;;
}

.question .heading{
    font-size: 14px;
    font-weight: 500;
    color: #979797;
}

.question div p {
    font-size: 20px;
    font-weight: 600;
    flex: 1;
}

.question div{
    display: flex;
    align-items: center;
    gap: 52px;
}


/* Media Queries */
@media (max-width: 575px){
    .form-container{
        padding-left: 0px;
    }
    .btn{
        padding: 10px 0px;
    }
}